@import 'partials/typography';

body {
  margin: 0;
  background-color: $gray-200;
}

.container {
  .heading-and-filter {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    gap: 16px;
    h1 {
      margin-bottom: 0;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filter {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  margin-top: auto;
  align-items: flex-end;
  input[type="search"] {
    background-color: $gray-100;
    border: 1px solid $gray-200;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-top: auto;
    height: 28px;
    width: 170px;
    padding: 0 28px 0 6px;
    background-image: url("/icon/search.svg");
    background-size: 32px 18px;
    background-position: right;
    background-repeat: no-repeat;
  }
  fieldset {
    display: flex;
    border: 0;
    padding: 0;
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray-100;
      border: 1px solid $gray-200;
      box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.1);
      padding: 0 6px;
      cursor: pointer;
      min-width: 28px;
      margin-top: auto;
      height: 27px;
      &.radio-selected {
        background: darken($gray-100, 2%);
        border: 1px solid $gray-200;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
        font-weight: bold;
      }
      &:hover {
        background: darken($gray-100, 2%);
        font-weight: bold;
      }
    }
    label:first-of-type {
      border-radius: 6px 0 0 6px;
    }
    label:last-of-type {
      border-radius: 0 6px 6px 0;
    }
  }
  label {
    display: flex;
    flex-flow: column;
    select {
      background: $gray-100;
      border: 1px solid $gray-200;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 4px;
      height: 28px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-100;
    border: 1px solid $gray-200;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 4px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: auto 0 0;

    &:hover {
      background: $gray-300;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
}